

    <div class="row">
        <div class="col-lg-3" style="text-align: center">
            <div class="card border-primary">
                <div class="card-header"><b>Team</b></div>
                <div class="card-body text-primary">
                    @Html.ActionLink("List", "Index", "Team", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Add New", "Create", "Team", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
        
        <div class="col-lg-3" style="text-align: center">
            <div class="card border-primary">
                <div class="card-header"><b>Player</b></div>
                <div class="card-body text-primary">
                    @Html.ActionLink("List", "Index", "Player", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Add New", "Create", "Player", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
        
        <div class="col-lg-3" style="text-align: center">
            <div class="card border-primary">
                <div class="card-header"><b>Match</b></div>
                <div class="card-body text-primary">
                    @Html.ActionLink("List", "Index", "Match", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Clone Questions", "Clone", "MatchQuestion", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
              
        <div class="col-lg-3" style="text-align: center">
            <div class="card border-primary">
                <div class="card-header"><b>Team Player</b></div>
                <div class="card-body text-primary">
                    @Html.ActionLink("List", "Index", "TeamPlayer", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Add New", "Create", "TeamPlayer", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
        
        <div class="col-lg-3" style="text-align: center">
            <div class="card border-primary">
                <div class="card-header"><b>Tournament Team</b></div>
                <div class="card-body text-primary">
                    @Html.ActionLink("List", "Index", "TournamentTeam", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Add New", "Create", "TournamentTeam", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
        
        <div class="col-lg-3" style="text-align: center">
            <div class="card border-primary">
                <div class="card-header"><b>Tournament</b></div>
                <div class="card-body text-primary">
                    @Html.ActionLink("List", "Index", "Tournament", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Add New", "Create", "Tournament", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
        
        <div class="col-lg-3" style="text-align: center">
            <div class="card border-primary">
                <div class="card-header"><b>Question</b></div>
                <div class="card-body text-primary">
                    @Html.ActionLink("List", "Index", "Question", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Add New", "Create", "Question", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>

               
        <div class="col-lg-3" style="text-align: center">
            <div class="card border-primary">
                <div class="card-header"><b>Prediction Category</b></div>
                <div class="card-body text-primary">
                    @Html.ActionLink("List", "Index", "PredictionCategory", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Add New", "Create", "PredictionCategory", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
        
        <div class="col-lg-3" style="text-align: center">
            <div class="card border-primary">
                <div class="card-header"><b>Grounds</b></div>
                <div class="card-body text-primary">
                    @Html.ActionLink("List", "Index", "Ground", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Add New", "Create", "Ground", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>

    </div>


