@model BashBook.DAL.EDM.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookUpValue.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookUpValue.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookUpValue1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookUpValue1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookUpValue2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookUpValue2.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
