@model IEnumerable<BashBook.DAL.EDM.PredictionCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LossPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BonusTimes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookUpValue.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LossPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BonusTimes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LookUpValue.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PredictionCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PredictionCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PredictionCategoryId })
        </td>
    </tr>
}

</table>
