@model BashBook.DAL.EDM.TournamentQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TournamentQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PredictionCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredictionCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tournament.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TournamentQuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
