@model IEnumerable<BashBook.DAL.EDM.TournamentQuestion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PredictionCategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tournament.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PredictionCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tournament.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TournamentQuestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TournamentQuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TournamentQuestionId })
        </td>
    </tr>
}

</table>
